body{
    margin: 0;
    padding: 0;
    background-color: navy;
}
p{
    font-family: arial;
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 4px 4px 10px yellow;
    color: white;
}
img{
    border: 2px solid pink;
    float: right;
    margin-right: 20px;
    padding: 3px;
}
